.wp-block-itinerisblocks-cpt-items {
	
	&.wp-block[data-type="itinerisblocks/cpt-items"] {
		max-width: 1145px;
		margin: 0 auto;
		width: 100%;
		padding: 0;

		ul{
			margin: 0;
		}
	}
	
	.wp-block-itinerisblocks-cpt-items__list {
		.wp-block-itinerisblocks-cpt-items__card {
			&-text {
				margin-top: 0;
				p {
					margin: 0;
					line-height: 24px;
				}
			}
		}
	}

}
